body {
  	background: #55B6AE;
}

.todo-wrapper {
  	width: 100%;
}

form {
  	text-align: center;
  	margin: 0px 0px 20px -10px;
  	background-color: #13756D;
  	padding: 20px 0px;
}

form label {
	margin: 0px 10px 0px;
	padding: 10px 0px;
}

.inputText {
	font-size: 18px;
  	padding: 10px 5px 0px;
  	width: 100px;
  	border: none;
  	border-bottom: 2px solid #55B6AE;
  	background-color: #13756D;
}

.inputText:focus { 
	outline: none; 
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #55B6AE;
}

::-moz-input-placeholder { /* Mozilla */
    color: #55B6AE;
}

table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

tr td {
	font-family: "Brush Script MT", cursive;
	font-size: 30px;
	background-color: #13756D;
	padding: 20px 80px; 
	border-radius: 5px;
}

tr:hover td {
	background-color: red;
}

h2 {
	font-family: "Brush Script MT", cursive;
	text-align: center;
	font-size: 60px;
	background-color: #1CA89C;
	margin: -10px 0px 0px -10px;
	padding-bottom: 25px;
}

h2 > span {
	font-family: "Brush Script Std", cursive;
	font-size: 100px;

}

label {
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
}

tr td:last-child {
	padding: 20px 40px; 
	cursor: pointer;
}

tr td:first-child {
	padding: 20px 40px; 
	cursor: pointer;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}


.toDoAdd {
	margin-left: 0px;
}

.buttonAdd {
	margin: 0px 30px;
	padding: 10px 30px;
	background: #13756D;
	color: #55B6AE;
	border: 2px solid;
	border-radius: 5px;
	position: relative;
	top: -7px;
}

.buttonAdd:hover {
	margin: 0px 30px;
	padding: 10px 30px;
	background: #55B6AE;
	color: #13756D;
	border: 2px solid;
}

.CheckClikk {
	position: none;
}


@media screen and (max-width: 480px) {
	table td:nth-child(1),
  	table td:nth-child(2){
    	padding-left: 25%;
  	}
  	table td:nth-child(1):before,
  	table td:nth-child(2):before{
    	position: absolute;
    	left: .5em;
    	font-weight: bold;
  	}
  	table tr,
    table td{
        display: block;
    }
    table tr{
        position: relative;
        margin-bottom: 1em;
    }

    table td{
        background-color: #13756D;
        border-top: 2px solid #55B6AE;
    }

    .CheckClik {
		position: relative;
		left: -15px;
	}
}